@import url('https://fonts.googleapis.com/css?family=Maven+Pro|Poiret+One');
*{
    font-family: 'Maven Pro', sans-serif;
    text-decoration: none;
    transition:all 0.3s;
    list-style: none;
}

body{
	width:  100%;
    height: 100%;
    margin: 0px; 
    background-color:#ffffff;
	text-align:center;
}

h1{
	display: inline-block;
	color:#222222;
	width:50%;
	text-align: center;
}

#page_title{
	width:100%;
	font-size:50px;
	text-align:center;
}

#search{
	display:inline-block;
    margin-top:10px;
	width:50%;
	height:34px;
	color:#222222;
	text-align:center;
	background-color:#222;
	font-size:15px;
	border: 1px solid #fff;
	font-size:14px;
}
#search:focus{
	outline:none;
	height:40px;
	font-size:20px;
	background-color:#222;
}

ul{
	display: inline-block;
	width:80%;
	position:relative;
	margin-top:40px;
	text-align:center;
	padding: 0;
}

ul li{
	display:inline-block;
	position:relative;
	padding:30px;
	width:50vw;
	color:#222222;
	margin-top:20px;
	font-size:20px;
	text-align:center;
	border-radius:5px;
	border-bottom:3px solid #222;
}

ul li:hover{
	width:60vw;
}

.name{
	float:left;
}

.reason{
	float:right;
}


#fotter_container{
	height:auto;
	min-height: 700px;
}

#footer{
	width:100%;
}
.top_header{
	width:100%;
}

.fotter_header{
	background-color:#fff;
	font-size:20px;
	width:100%;
	padding-bottom:100px;
	padding-top:100px;
	color:#222;
	text-align:center;
}

.contact_info{
	width:100%;
	padding:50px 0px 50px 0px;
	text-align:center;
	color:#fff;
	background-color:rgba(239, 105, 60, 1);
}

.contact_info h1{
	padding-bottom:20px;
}
.contact_info ul{
	padding:0;
	font-size:20px;
	width:auto;
	text-align:center;
}
.contact_info ul li{
}

#social_media_icons{
	font-size:20px;
	width:100%;
	text-align:center;
}

.fa-social {
	padding:10px;
	width:20px;
	height:20px;
	margin-left:20px;
	margin-right:20px;
    font-size: 15px;
    text-decoration: none;
	color:white;
	border-radius:100%;
	border:2px solid #fff;
	display:inline-block;
	top:0;
	position: relative;
}
.fa-social:hover{
	top:-10px;
}

.email{
	border:1px solid transparent;
	border-bottom:1px solid #fff;
	background-color:rgba(239, 55, 60, 0);
	color:#fff;
	outline: none;
	width:200px;
	text-align:center;
	font-size:20px;
	position:relative;
}
.email:focus{
	width:400px;
	text-align:left;
}

::placeholder{
	color:rgba(255, 255, 255, 0.9);
}

#final_footer{
	background-color:#fff;
	color:#222;
	text-align:center;
	padding-top:5px;
	height:100px;
	font-size:10px;
}
#final_footer_p{
	margin-top:30px;
}
